<div class="top_container">
	<div class="canvas_container">
		
	
	
		<canvas id="canvas" width="800" height="600"></canvas>
	</div><!-- / -->


	<div class="thumb_container">
		<h3>Choose another bro:</h3>
		<ul id="brolist">
		</ul>
	</div><!-- contains list of bros/ -->

</div><!-- contains canvas and bro list/ -->

<div class="controls">
	<textarea>Enter caption here. Hit enter to make a new line.</textarea>

	<div class="size_controls">
		<button id="smaller">Smaller</button>
		<button id="bigger">Bigger</button>
		
	</div><!-- / -->

	<div class="direction_controls">
		<button id="up">Up</button>
		<div class="inline">
			<button id="left">Left</button>
			<button id="right">Right</button>
		</div>
		<button id="down">Down</button>
	</div>

	<button id="submit">Submit This Bro Meme!</button>
</div>

