
<div id="explanation">
This is a website where any randomo can create "bro memes". In this case, that means text superimposed onto images of college students.
It's really out of our hands at this point. Some anti-bros are responsible for all the weird stuff.
<br /> <br />
Come meet your friendly neighborhood bros at Bromansion. 2833 Pearl St! Be sure to check in on Facebook.

<br />
<br />
Shoutout to our friends at Dudeplex, Bromanor, and Bro Island.<br />
© 2012 International Bro Alliance. 
<br />
<br />
<button id="close_explanation">I feels ya, bro.</button>
</div>

<div class="fixed_right fixed">
	<a href="/addbro">Add a new bro meme</a>
</div>

<div class="fixed_left fixed">
	<a id="about">What is this all about?</a>
</div>

<% 
var max_bros = 0;
if(bros.length > 5){
	max_bros = 5;
} else {
	max_bros = bros.length;
}
for(var i=0; i < max_bros; i++) {%>
	<div class="bromeme">
		<a href="/bro/<%= bros[i].image_uuid %>">
			<img src="/images/captions/<%= bros[i].image_uuid %>.jpg" />
		</a>
	</div>

	<br />
	<div class="fb-comments" data-href="http://bromansion.com?imageuuid=<%= bros[i].image_uuid%>" data-num-posts="2" data-width="470">
	</div>
	<br />

<% } %> 