<div id="" class="">
	<canvas id="canvas" width="800" height="600"></canvas>
</div><!-- / -->

<div id="" class="">
	<div class="controls">
	<textarea>Enter caption here...</textarea>
	
		<div class="size_controls">
			<button id="smaller">Smaller</button>
			<button id="bigger">Bigger</button>
			
		</div><!-- / -->

		<div class="direction_controls">
			<button id="up">Up</button>
			<div class="inline">
				<button id="left">Left</button>
				<button id="right">Right</button>
			</div>
			<button id="down">Down</button>
		</div>
		<button id="submit">Submit Image</button>
	</div>
</div><!-- / -->
