<% if(bro){ %>

<div class="bromeme">
		<img src="/images/captions/<%= bro.image_uuid %>.jpg" />
</div>
<br />
<div class="fb-comments" data-href="http://bromansion.com?imageuuid<%= bro.image_uuid%>" data-num-posts="2" data-width="470">
	</div>
<% } else { %>
	<h1>Bro not found. Sorry, bro.</h1>
<% } %>
